{
  "location": "Dharamsala, Himachal Pradesh, India",
  "lat": 32.2190,
  "lon": 76.3234,
  "iana": "Asia/Kolkata",
  "utc_offset": 5.5,
  "year": 2025,
  "days": {
    "01-01": { "rise": "07:34", "set": "17:38" },
    "01-02": { "rise": "07:22", "set": "18:05" },
    "01-03": { "rise": "06:52", "set": "18:29" },
    "01-04": { "rise": "06:10", "set": "18:51" },
    "01-05": { "rise": "05:29", "set": "19:13" },
    "01-06": { "rise": "05:02", "set": "19:35" },
    "01-07": { "rise": "05:05", "set": "19:43" },
    "01-08": { "rise": "05:30", "set": "19:26" },
    "01-09": { "rise": "05:57", "set": "18:51" },
    "01-10": { "rise": "06:22", "set": "18:10" },
    "01-11": { "rise": "06:50", "set": "17:35" },
    "01-12": { "rise": "07:18", "set": "17:27" }
  }
}
